<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Description</th>
      <th>Template Text</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <%= render preset_templates %>
  </tbody>
</table>
