<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">Reference preset templates</h3>
  </div>

  <div class="panel-body">
    <p><em>
      <% if @referenced_preset_templates.any? %>
        These are the reference preset templates as selected by the EBU administrator. You
        can use these for discussion or your own encodings. If you are the owner of the referenced
        preset template you will not be able to delete it.
      <% else %>
        There are no reference preset templates yet.
      <% end %>
    </em></p>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Description</th>
        <th>Template</th>
        <th>Owner</th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: 'referenced_preset_template', collection: @referenced_preset_templates %>
    </tbody>
  </table>
</div>

<ul class="nav nav-tabs nav-justified" id="preset_tabs">
  <li class="active"><a href="#encoder_presets" data-toggle="tab">Encoder presets (ffmpeg)</a></li>
  <li><a href="#post_processing_presets" data-toggle="tab">Post-processing presets (MP4Box)</a></li>
</ul>

<div class="tab-content" id="preset_tabs_content">
  <div class="tab-pane active" id="encoder_presets">
    <%= render partial: "preset_templates/preset_table", locals: { preset_templates: @encoder_presets } %>
  </div>
  <div class="tab-pane" id="post_processing_presets">
    <%= render partial: "preset_templates/preset_table", locals: { preset_templates: @post_processing_presets } %>
  </div>
</div>

<% if auth_can_write? %>
<%= plugit_link_to "Add preset template", new_preset_template_path, class: "btn btn-primary" %>
<% end %>