<%= render partial: "encoding_jobs/referenced" %>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Recently encoded videos</h3>
  </div>

  <div class="panel-body">
    <p><em>These are the most recently encoded videos by all users. They are available for on-line playback and
    linking to the generated MPD.</em></p>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Description</th>
        <th>Created</th>
        <th>Owner</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: 'encoding_job', collection: @encoding_jobs %>
    </tbody>
  </table>
</div>
