<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Hostname</th>
      <th>Port</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <%= render @transcoders %>
  </tbody>
</table>

<%= plugit_link_to "Add transcoder", new_transcoder_path, class: "btn btn-primary" %>