<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Tags for encoding jobs</h3>
  </div>

  <div class="panel-body">
    <p><em>These are the tags that can be assigned to encoding jobs. Any changes made here are performed live.</em></p>
    <%= render partial: 'tags/encoding_job_tags', object: @encoding_job_tags %>
  </div>

</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Tags for preset templates</h3>
  </div>

  <div class="panel-body">
    <p><em>These are the tags that can be assigned to preset templates. Any changes made here are performed live.</em></p>
    <%= render partial: 'tags/preset_template_tags', object: @preset_template_tags %>
  </div>

</div>
