// Place all the styles related to the Encodings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#variant_jobs_list .encoder_preset_variables .input-group, .post_processing_preset_variables .input-group {
  margin-top: 10px;
  margin-bottom: 10px;
  
  .input-group-addon {
    min-width: 80px;
  }
}

#encoding_job_wrapper {
  pre {
    margin-top: 20px;
  }
}