// Place all the styles related to the PresetTemplates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#prefill_buttons {
  float: right;
  
  &:before {
    content: "Pre-fill template: ";
  };
  
  button {
    margin-left: 5px;
  }
}