// Place all the styles related to the PresetTemplates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#prefill_buttons {
  float: right;
  
  &:before {
    content: "Pre-fill template: ";
  };
  
  button {
    margin-left: 5px;
  }
}

#preset_tabs_content {
  background-color: white;
  margin-top: 0;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  padding-top: 20px;
  margin-bottom: 20px;
}