<tr>
  <td><%= encoding_job.id %></td>
  <td><%= link_to encoding_job.description, encoding_job %></td>
  <td><%#= tags_for(encoding_job.tags)%></td>
  <td><%= job_status_label encoding_job %></td>
  <td>
    <%= link_to "Remove", encoding_job_path(encoding_job), method: 'delete', disabled: !encoding_job.destroy_allowed?, data: { confirm: 'This will remove your encoding job. Are you sure?' }, class: "btn btn-danger btn-sm" %>
  </td>
</tr>