<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">Reference encodings</h3>
  </div>

  <div class="panel-body">
    <p><em>
      <% if @referenced_encoding_jobs.any? %>
        These are the reference encodings as selected by the EBU administrator.
      <% else %>
        There are no reference encodings yet.
      <% end %>
    </em></p>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Description</th>
        <th>Created</th>
        <th>Owner</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: 'encoding_jobs/referenced_encoding_job', collection: @referenced_encoding_jobs %>
    </tbody>
  </table>
</div>
