<li class="list-group-item" data-id="new_variant_job">
  <button type="button" class="close" aria-hidden="true">&times;</button>

  <div class="form-group">
  <%= f.label 'Source file: ' %>
  <%= f.select :source_file, source_files_for_select, class: "form-control" %><br/>
  </div>

  <div class="form-group">
  <%= f.label 'Encoder preset: ' %>
  <%= f.select :encoder_preset_template, encoder_templates_for_select, class: "form-control" %><br/>
  <span class="encoder_preset_preview"></span>
  </div>
  
</li>
