<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Description</th>
      <th>Summary</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <%= render @encoding_jobs %>
  </tbody>
</table>

<%= link_to "Add encoding", new_encoding_job_path, class: "btn btn-primary", disabled: !new_encoding_job_allowed? %>
<% unless new_encoding_job_allowed? %>
<small><em>At least one file asset, one encoder preset and one post-processing preset need to exist before you can create a new encoding job...</em></small>
<% end %>