<div id="encoding_job_wrapper">
  <%= render partial: "encoding_job_status", locals: { encoding_job: @encoding_job } %>
</div>
<%= link_to "Back to encoding jobs", encoding_jobs_path, class: "btn btn-primary" %>